---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="home">
	<h1>briwa</h1>
	<h2>I do web dev.</h2>
	<div class="links">
		<a href="https://github.com/briwa" target="_blank" rel="noreferrer">github</a> &centerdot;
		<a href="https://www.linkedin.com/in/shabriwa-shalat-74bb3960" target=_blank" rel="noreferrer">linkedin</a> &centerdot;
		<a href="mailto:hello@briwa.dev">contact me</a>
	</div>
</div>
