<meta charset="UTF-8">
<meta name="theme-color" content="#000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="briwa">
<meta name="description" content="briwa's personal website. Web developers usually have one. Or more.">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
